.new-tweet {
    background-color: #eee;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 10px;
}

section h2 {
    border-bottom: 2px solid black;
    margin-top: 0px;
}

#compose-tweet-area {
    padding: 5px;
    display: block;
    width: 100%;
}

input {
    margin-top: 6px;
}

.counter{
   margin-top: 10px;
   float: right; 
}

.negative{
    color: red;
}