#tweet-feed{
  margin-top: 1rem;
}

.posted-tweet{
  border-radius: 5px;
  border: 2px;
  border-style: solid;
  border-color: #eee;
  overflow: hidden;
	margin-top: 1rem;
}

.posted-tweet:hover{
  border-color: #888888;
}

.posted-tweet:hover .posted-tweet-header{
  opacity: 1;
}

.posted-tweet .posted-tweet-header{
  background-color: #979797;
  height: 87px;
  opacity: 0.6;
}

.posted-tweet .avatar{
  width: 70px;
  height: 70px;
  float: left;
  margin: 0.5rem;
  border-radius: 5px;
  border: 10px;
}

.posted-tweet .username{
  float: right;
  margin-right: 0.5rem;
  margin-top: 0.65rem;  
}

.posted-tweet .name{
    float: left;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    align-items: center;
}

.posted-tweet .tweet-content{
    padding: 1rem;
		height: 80px;
		word-wrap: break-word;
}

.posted-tweet .tweet-footer{
    border-top: 2px solid #d6d6d6;
    padding: 0.6rem;
    font-size: 0.7rem;
    height: 2rem;
}

.posted-tweet i{
    float: right;
    padding-right: 5px;
    display: none;
    color: #00a087;
}

.posted-tweet:hover i{
    display: inline;
}